.auth {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 40px;
}

.auth-container {
    width: 480px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;

}

@media(width<500px) {
    .auth-container {
        width: 300px;
        padding: 10px;
    }
}

.auth-container-logo {
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-line {
    width: 100%;
    height: 2px;
    background: var(--green);
    margin-block: 20px;
    background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0) 0, var(--green) 50%, transparent);
    position: relative;
}

.auth-line::before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: #d0eaab;
    position: absolute;
    animation: move 5s infinite;
    border-radius: 5px;

}

@keyframes move {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(20px);
    }
}

.auth-switch {
    width: 240px;
    border: 2px solid var(--color-border);
    padding: 3px;
    border-radius: 40px;
}

.auth-switch-btn {
    background-color: transparent;
    border: none;
    color: var(--white);
    width: 50%;
    height: 35px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.switch-btn-active {
    background-color: var(--green);
    color: var(--bg-color);
}

.auth-form {
    margin-top: 30px;
    width: 90%;
}

.auth-form label {
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: 2px solid var(--color-border);
    padding-inline-start: 10px;
    margin-bottom: 20px;
}

.auth-form label input {
    width: calc(100% - 40px);
    background-color: transparent;
    border: none;
    color: var(--white);


}

.auth-form label input:focus {
    outline: none;
}

.auth-form label div {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

}

.auth-form label div svg {
    stroke: var(--light-gray);
    fill: none;


}

.auth-form-btn {
    width: 100%;
    border: none;
    background-color: var(--green);
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
}

footer {
    width: 100%;

}

.auth-footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    gap: 8px;
}

.auth-footer-logo svg {
    width: 40px;
}