.dashboard {
    width: 100%;
    display: flex;
    gap: 20px;
    @media (width < 976px){
        flex-wrap: wrap;
    }
}

.dash-right {
    width: 70%;
   @media (width < 976px){
        width: 100%;
    }
}

.dash-right-summery {
    width: 100%;
  height: 250px;
    /* border: 3px solid blue; */
    display: flex;
    gap: 30px;
      @media (width < 767px){
        flex-wrap: wrap;
        height: fit-content;
        gap: 20px;
      }
}

.dash-right-summery-item {
    flex: 1 1 calc(25% - 30px);
    /* height: 200px; */
    border: 1px solid var(--color-4);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (width < 767px){
        flex: 1 1 calc(50% - 30px);
        gap: 20px;
    }
}

.dash-right-summery-item-icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 30px rgba(112, 240, 140, 0.2);

    & svg {
        width: 30px;
        fill: var(--color-1);
    }
}

.dash-right-summery-item-description {
    color: var(--color-6);
    display: flex;
    gap: 8px;
    flex-direction: column;

    & p {
        color: var(--color-7);
        margin-block: 0;
    }

    & h4 {
        margin-block: 0;
        font-size: 20px;
          @media (width < 767px){
            font-size: 16px;
          }
    }

    & span {
        color: var(--color-3);
    }
}

.dash-right-bottom {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
      @media (width < 767px){
        flex-wrap: wrap;
      }

}

.dash-right-bottom-chart {
    width: 50%;

    border: 1px solid var(--color-4);
    border-radius: 10px;
    padding: 20px;
      @media (width < 767px){
        width: 100%;
      }
}

.dash-right-bottom-order {
    width: 50%;
    border: 1px solid var(--color-4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
     @media (width < 767px){
        width: 100%;
      }
}

.dash-right-bottom-order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.dash-right-bottom-order-item-right {
    display: flex;
    align-items: center;
    gap: 7px;

    & div {
        display: flex;
        flex-direction: column;
    }

    & p {
        margin: 0;
        font-size: 14px;
    }

    & span {
        color: var(--color-7);
        font-size: 12px;
    }
}

.dash-right-bottom-order-item-right img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;



}

.dash-right-bottom-order-item-left {
    color: #017616;
}

.dash-left {
    width: 30%;
    height: fit-content;
    border: 1px solid var(--color-4);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-2);
    @media (width < 976px){
        width: 100%;
    }
}

.dash-left-item {
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-1);
  overflow: hidden;
    & img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2/1;
      
    }
    @media (width < 976px){
        display: flex;
        gap: 10px;
       & img{
        width: 40%;
        
       }
    }
     @media (width < 767px){
        display: block;
        & img{
            width: 100%;
        }
      }
}

.dash-left-item-desc {
    padding: 10px;
    width: 100%;

    & h4 {
        font-size: 14px;
        margin: 0;
    }

    & p {
        font-size: 12px;
        color: var(--color-7);
        line-height: 28px;
    }
}