.dashboard {
    width: 100%;
    display: flex;
    gap: 20px;
}

.dash-right {
    width: 70%;
    /* height: 300px; */
    /* border: 2px solid red; */
}

.dash-right-summery {
    width: 100%;
    height: 250px;
    /* border: 3px solid blue; */
    display: flex;
    gap: 30px;
}

.dash-right-summery-item {
    flex: 1 1 calc(25% - 30px);
    /* height: 200px; */
    border: 1px solid var(--color-4);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dash-right-summery-item-icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 30px;
        fill: var(--color-1);
    }
}

.dash-right-summery-item-description {
    color: var(--color-6);
    display: flex;
    gap: 8px;
    flex-direction: column;

    & p {
        color: var(--color-7);
        margin-block: 0;
    }

    & h4 {
        margin-block: 0;
        font-size: 20px;
    }

    & span {
        color: var(--color-3);
    }
}

.dash-right-bottom {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;

}

.dash-right-bottom-chart {
    width: 50%;

    border: 1px solid var(--color-4);
    border-radius: 10px;
    padding: 20px;
}

.dash-right-bottom-order {
    width: 50%;
    border: 1px solid var(--color-4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.dash-right-bottom-order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.dash-right-bottom-order-item-right {
    display: flex;
    align-items: center;
    gap: 7px;

    & div {
        display: flex;
        flex-direction: column;
    }

    & p {
        margin: 0;
        font-size: 14px;
    }

    & span {
        color: var(--color-7);
        font-size: 12px;
    }
}

.dash-right-bottom-order-item-right img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.dash-left {
    width: 30%;
    height: 600px;
    border: 1px solid var(--color-4);
    border-radius: 10px;

}