.animated-border-inner {
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  position: relative;
  border-radius: 10px;
}

.animated-border {
  position: relative;
 
  overflow: hidden;
  padding: 2px;
 
  border-radius: var(--br);
}

.animated-border::before {
  content: "";
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--color-3) ,
   transparent, transparent);
  width: 200%;
  height: 200%;
  opacity: 0;
  transition: opacity 0.8s;
  border-radius: 50%;
}

.animated-border:hover::before {
  opacity: 1;
}