@font-face {
  font-family:'iranSans' ;
src: url('/fonts/IRANSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --color-1:#05050c ;
  --color-2:#0f1021 ;
  --color-3:#bff474 ;
  --color-4:#242534 ;
  --color-5:#6a6d9e ;
  --color-6:#fff ;
  --color-7:#b0b0b1 ;
  --color-8:#bff47475 ;
  --br:12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'iranSans';
  direction: rtl;
  overflow-y: scroll;
    background: red !important;

}

button , input {
  font-family: 'iranSans' !important;
}