@font-face {
  font-family: "iranSans";
  src: url("./assets/fonts/Iranian\ Sans.ttf");
}

:root {
  --bg-color: #05050c;
  --br: 10px;
  --dark-blue: #0f1021;
  --green: #bff473;
  --light-green:#bef4737f;
  --color-4: #6a6d9e;
  --color-border: hsla(0, 0%, 100%, .1);
  --white:#fff;
  --light-gray : #b0b0b1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "iranSans";
  direction: rtl;
  /* background-color: var(--bg-color); */
}
button , input{
  font-family: "iranSans";
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;  /* ← بسیار مهم */
}