.panelLayout {
  display: flex;
  width: 100%;
  height: 100%;
}



.main {
  flex: 1;
  height: 100%; 
  background: var(--bg-color);
  overflow-y: auto;
 
}
.main-header{
  height: 80px;
  width: 100%;
  background-color: var(--color-2);
}






