.sidebar {
  width: 250px;
  background: var(--bg-color);
  border-left: 1px solid var(--color-purple);
  transition: all .3s;

}

.sidebarClose {
  width: 60px;
  background: var(--bg-color);
  transition: all .3s;
  border-left: 1px solid var(--color-purple);
}

@media(width<767px) {
  .sidebar {
    width: 250px;
    transition: all .3s;
  }

  .sidebarClose {
    width: 0px;
  }
}

.sidebarClose .sidebar-head h2 {
  display: none;
}

.sidebar-head {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 10px;
}

.sidebar-head svg {
  width: 45px;
}

.sidebar-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-inline: 20px;
 
}

.sidebar-center-new-project {
  background-color: var(--green);
  color: var(--bg-color);
  height: 45px;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.sidebarClose .sidebar-center-new-project span {
  display: none;
}

.sidebarClose .sidebar-center-new-project {
  border-radius: 0;
}

.sidebarClose .sidebar-center {
  padding-inline: 0;
}

.sidebar-center ul {
  list-style: none;
  margin-top: 15px;
   margin-bottom: 20px;
}

.sidebar-center-item {
  position: relative;
}

.sidebar-center-item button {
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 5px;
  border: none;
  background: none;
  color: var(--light-gray);
  width: 100%;
  height: 45px;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--light-gray);
  }

  &:hover {
    color: var(--white);

    & svg {
      fill: var(--white);
    }
  }
}

.sidebarClose .sidebar-center-item button {
  justify-content: center;
}

.sidebarClose .sidebar-center-item button span {
  display: none;

}


.sidebar-center-item-subMenu {

  max-height: 0;
  /* background-color: var(--white); */
  width: 100%;
  transition: all .5s;
  overflow: hidden;
}

.sidebar-center-item-active .sidebar-center-item-subMenu {
  max-height: 600px;
}

.sidebar-center-item-active button {
  background-color: var(--light-green);
  border-radius: 15px;

  &:hover {
    color: var(--light-gray);

    & svg {
      fill: var(--light-gray);
    }
  }
  @media (width>767) {
    .sidebar-center-item-active button {
      padding-inline: 0!important;


    }
    
  }
}

.sidebarClose .sidebar-center-item-subMenu {
  max-height: 0;
}


.submenu {
  color: var(--light-gray);
  padding-inline-start: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--white);
  }

}

.sidebar-center-item-sidemenu {
  position: absolute;
  top: 0;
  left: -200px;
  background-color: var(--bg-color);
  border-left: 1px solid var(--color-purple);
  border: 1px solid var(--color-purple);
  color: var(--light-gray);
  width: 200px;

  opacity: 0;
  visibility: hidden;
  border-radius: 15px 0 0 15px;

  &:hover {
    color: var(--white);
  }

}

.sidebarClose .sidebar-center-item:hover .sidebar-center-item-sidemenu {
  opacity: 1;
  visibility: visible;

}


.sidebar-profile {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  border-radius: 10px;

}

.profile-sidebar-top {
  display: flex;
  width: 100%;
  gap: 5px;

  & img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & span:nth-of-type(2) {
      color: var(--light-gray);
    }
  }
}

.sidebar-profile-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: var(--bg-color);
  }

  & button {
    border: var(--green);
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);

    &:hover {
      background-color: var(--green);
      color: var(--bg-color);
    }
  }

}

.theme-sidebar {
  width: 100%;
  padding-inline: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.theme-sidebar-inner {
  width: 100%;
  padding: 5px;
  background-color: var(--dark-blue);
  border-radius: 10px;

  & button {
    width: 50%;
    padding: 5px;
    height: 40px;
    background-color: transparent;
    color: var(--light-gray);
    border: none;
  }
}

.theme-sidebar-inner-btn-active {
  background-color: var(--green) !important;
  color: var(--bg-color) !important;
  border-radius: 8px;
}

.theme-sidebar-label {
  color: var(--light-gray);
  font-size: 12px;
  margin-top: 10px;
}