.sidebar {
  width: 250px;
 background: var(--color-2);
  transition: all .3s;
}
.sidebarClose{
  width: 80px;
    background: var(--color-2);
     transition: all .3s;
}
@media(width<767px){
  .sidebar {
  width: 250px;
  transition: all .3s;
}
.sidebarClose{
  width:0px;
}
}
 .sidebarClose .sidebar-head h2{
    display: none;
 }

.sidebar-head{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}

.sidebar-head svg{
    width: 45px;
}
.sidebar-center{
    width: 100%;
    display: flex;
   flex-direction: column;
    padding-top:15px;
    padding-inline:20px ;
}
.sidebar-center-new-project{
    background-color: var(--color-3);
    color: #fff;
    height: 45px;
    border: none;
    border-radius: 15px;
}